<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.manager.infra.mapper.GroupLabelMapper">
    <select id="selectLabelGroups" resultType="java.lang.String">
        SELECT group_code
        FROM mgmt_group_label
        WHERE label_value = #{labelValues}
    </select>
</mapper>
